<div class="card">
  <div class="card-header">Two Factor Authentication</div>
  <div class="card-body">
    <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name), method: :post) do |f| %>
      <%= f.input :otp_attempt, label: 'OTP' %>
      <div class="float-right">
        <%= link_to "Resend OTP", resent_otp_path(resource) %><br />
      </div>
      <div class="actions">
        <%= f.submit 'Login', class: 'btn btn-primary mt-2' %>
      </div>
    <% end %>
  </div>
</div> 